<div class="box" *ngIf="resenyas.length!= 0">
  <h1 class="title">Valoraciones:</h1>
  <div class="table-container">
  <table class="table is-bordered is-striped is-fullwidth">
    <thead>
    <tr>
      <th class="name">Usuario</th>
      <th class="name">Comentario</th>
      <th class="name">Calificación <p>&#9734; &#9734; &#9734; &#9734; &#9734;</p></th>
    </tr>
    </thead>
    <tbody>
    <!-- Aquí puedes usar *ngFor para iterar sobre tus reseñas y mostrarlas en la tabla -->
    <tr *ngFor="let resenya of resenyas">
      <td class="barrita">{{ resenya.usuarioDTO.alias }}</td>
      <td class="barrita"> {{ resenya.textoFormateado }}</td>
      <td class="stars">{{ resenya.estrella }}<p>&#9733;</p> </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
