<body>

<form>
  <h2>Ticket</h2>
  <label for="dinero_aportado">Dinero Aportado:</label>
  <input type="number" id="dinero_aportado" name="dinero_aportado">

  <label for="fecha_compra">Fecha de Compra:</label>
  <input type="date" id="fecha_compra" name="fecha_compra">

  <h2>Asistente</h2>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre">

  <label for="apellidos">Apellidos:</label>
  <input type="text" id="apellidos" name="apellidos">

  <label for="direccion">Dirección:</label>
  <input type="text" id="direccion" name="direccion">

  <label for="email">Email:</label>
  <input type="email" id="email" name="email">

  <label for="dni">DNI:</label>
  <input type="text" id="dni" name="dni">

  <label for="telefono">Teléfono:</label>
  <input type="tel" id="telefono" name="telefono">

  <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
  <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">

  <button type="submit">Enviar</button>
</form>

</body>
