<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Modificar Organizacion | SAFARITY </title>
  <link rel="stylesheet" type="text/css" href="modificarorganizacion.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="contenedor">

  <div class="principal">

    <div class="alante">
      <img src="assets/img/safacrowd2.png" alt="">
      <div class="texto">
        <span class="texto1">Haz lo que <br> te apasiona</span>
      </div>
    </div>

  </div>

  <div class="forms">

    <div class="form-content">

      <div class="signup-form">

        <div class="titulo">Modificar Organizacion</div>

        <br>
        <p>¿No recuerdas tus datos?</p>

        <div class="autocompletar">
          Autocompletar con tus datos
          <input id="auto" type="checkbox" (change)="autocompletar()">
        </div>

        <form (ngSubmit)="modificarOranizacion()">

          <div class="input-boxes">

            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nombre" name="nombre" id="nombre" [(ngModel)]="organizacion.nombre" required>
            </div>

            <div class="input-box">
              <i class="fas fa-map-marker"></i>
              <input type="text" placeholder="email" name="direccion" id="email" [(ngModel)]="organizacion.email" required>
            </div>

            <div class="input-box">
              <i class="fas fa-info"></i>
              <input type="text" placeholder="Cif" name="cif" id="cif" [(ngModel)]="organizacion.cif" required>
            </div>

            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Telefono" name="telefono" id="telefono" [(ngModel)]="organizacion.telefono" required>
            </div>


            <div class="input-box">
              <i class="fas fa-info"></i>
              <input type="text" placeholder="Información" name="informacion" id="informacion" [(ngModel)]="organizacion.info" required>
            </div>

            <div class="input-box">
              <i class="fas fa-map-marker"></i>
              <input type="text" placeholder="Direccion" name="direccion" id="direccion" [(ngModel)]="organizacion.direccion" required>
            </div>


            <div class="input-box">
              <i class="fas fa-globe"></i>
              <input type="text" placeholder="Logo" name="logo" id="logo" [(ngModel)]="organizacion.logo" required>
            </div>

            <div class="input-box">
              <i class="fas fa-globe"></i>
              <input type="text" placeholder="Web" name="sitioweb" id="sitioweb" [(ngModel)]="organizacion.sitioWeb" required>
            </div>


            <span>{{mensaje}}</span>

            <div class="boton input-box">
              <input type="submit" value="modificar">
            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>

</body>
</html>

