<body>




  <div class="titulo">

    <h1><strong>FAVORITOS</strong></h1>
  </div>
  <h3>FAVORITOS:</h3>
    <div class="miniatura">

      <div *ngFor="let e of evento" class="tarjeta">
        <a [routerLink]="['/detallesEvento', e.id]">
          <img src="{{e.imagen}}">
          <h3>{{e.nombre}}</h3>
          <p><strong>Aforo:</strong> {{e.aforo}}</p>
        </a>
      </div>

    </div>

  <!--<div class="message" *ngIf="eventosFavoritos && eventosFavoritos.length === 0">
    <p>No tiene eventos en sus favoritos.</p>
  </div>-->

</body>


