@import 'bulma/css/bulma.css';

.titulo {
  margin-left:25%;
  margin-right:25%;
  margin-top: 3%;

}

h3 {
  font-size: 2.3em;
  font-weight: lighter;
  color: #7d2ae8;
  margin-top: 3%;
  margin-bottom: 3%;
}
.titulo h1 strong{
  font-size: 35px;
  font-weight: bold;
  color: #7d2ae8;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.miniatura {
  margin-left:25%;
  margin-right:25%;
  min-height: 800px;

}

/*.miniatura:hover {
  border: 3px solid #b906f1;
  transform: scale(1.2);

}*/

.message {
  margin-left:25%;
  margin-right:25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
label{
  font-size: 2.3em;
  font-weight: lighter;
  color: #7d2ae8;
  margin-top: 3%;
  margin-bottom: 3%;
}
input{
  height: 50px;
  border-color: rgba(181, 143, 231, 0.82);
  border-radius: 20px;
  text-align: end;
  font-size: 2.3em;
  font-weight: lighter;
  color: #7d2ae8;

}
