<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Login | SAFARITY </title>
  <link rel="stylesheet" type="text/css" href="login.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="contenedor">

  <input type="checkbox" id="vuelta">

  <div class="principal">

    <div class="alante">
      <img src="assets/img/safacrowd2.png" alt="">
      <div class="texto">
        <span class="texto1">Haz lo que <br> te apasiona</span>
      </div>
    </div>

  </div>

  <div class="forms">

    <div class="form-content">

      <div class="login-form">

        <div class="titulo">Inicia Sesión</div>

        <form (ngSubmit)="login()">

          <div class="input-boxes">

            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input id="usuario" type="text" placeholder="Usuario" name="usuario" [(ngModel)]="usuario.alias" required>
            </div>

            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input id="pwd" type="password" placeholder="Contraseña" name="pwd" [(ngModel)]="usuario.password" required>
              <i class="fas fa-eye" id="eye" (mousedown)="mostrarContrasena()" (mouseup)="arriba()"></i>
            </div>

            <div class="texto">
              <p>{{errorMensaje}}</p>
              <a href="#">¿Se te ha olvidado la contraseña?</a>
            </div>

            <div class="boton input-box">
              <input type="submit" value="Enviar" (click)="crearusuario()">
            </div>

            <div class="texto sign-up-text">¿No tienes una cuenta todavia?
              <label routerLink="/registro" for="vuelta">Regístrate</label>
            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>

</body>
</html>
