<!DOCTYPE html>
<html>
<head>
  <title>Formulario de Inicio de Sesion</title>
  <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>
  <div class="container">

    <h2>Iniciar Sesion</h2>

    <form action="login.php" method="post">

      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
      </div>

      <input type="submit" value="Inicia Sesion">

    </form>

  </div>

</body>
</html>
