<body>

<div class="body">

  <div *ngIf="ticket" class="evento-container">

    <div class="thumbnail">

      <div class="event-info">
        <h1>Importe: {{ticket.dineroAportado}} €</h1>
        <p class="address">Fecha de Compra: {{ticket.fecha}}</p>
        <app-ticket-list></app-ticket-list>
      </div>


      <h2>EVENTO:</h2>
      <a [routerLink]="['/detallesEvento', this.ticket.eventoDTO.id]">
        <div class="details-container">
            <div class="detail">
              <span class="value">{{ticket.eventoDTO.nombre}}</span>
            </div>

            <div class="detail">
              <span class="value">{{ticket.eventoDTO.fecha_inicio}}</span>
            </div>

          <!--      <div class="detail">-->
          <!--        <span class="value">{{ticket.}}</span>-->
          <!--      </div>-->

          <!--      <div class="detail">-->
          <!--        <span class="value">{{ticket.}}</span>-->
          <!--      </div>-->

          <!--      <div class="detail">-->
          <!--        <span class="value">{{ticket.}}</span>-->
          <!--      </div>-->

          <!--      <div class="detail">-->
          <!--        <span class="value">{{ticket.}}</span>-->
          <!--      </div>-->
        </div>
      </a>
      <h2>ASISTENTE:</h2>
      <div class="details-container">

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.nombre}}</span>
        </div>

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.apellidos}}</span>
        </div>

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.direccion}}</span>
        </div>

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.email}}</span>
        </div>

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.dni}}</span>
        </div>

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.telefono}}</span>
        </div>

        <div class="detail">
          <span class="value">{{ticket.asistenteDTO.fecha_nacimiento}}</span>
        </div>

      </div>
      <div class="botones">
        <button id="bbutton" (click)="vistaFormulario()">Cancelar</button>

        <form id="form" (ngSubmit)="eliminarTicket()">
          <span>¿Desea retirar su donación?</span>
          <input type="checkbox" value="SI" id="devolucion" name="devolucion" [(ngModel)]="mticket.devolucion" required>
          <button type="submit">Si</button>
        </form>
        <button id="cancel" (click)="cancelar()" >No</button>
      </div>

      <div class="esc-resenya" *ngIf="comprobarResenya == null">
        <app-escribir-r></app-escribir-r>
      </div>
    </div>

  </div>

</div>

</body>
