<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Términos y Condiciones</title>

</head>
<body>

<section id="terms-and-conditions">
  <h1>Términos y Condiciones</h1>

  <p>Bienvenido/a a Safarity. Estos términos y condiciones rigen tu uso de nuestro sitio web. Al acceder y utilizar nuestro sitio, aceptas cumplir con estos términos. Si no estás de acuerdo con alguno de los siguientes términos, te pedimos que no utilices nuestro sitio.</p>

  <h2>Uso del Sitio</h2>

  <p>El contenido de las páginas de este sitio web es solo para tu información general y puede cambiar sin previo aviso. Nosotros ni terceros ofrecemos garantías sobre la exactitud, puntualidad, rendimiento, integridad o idoneidad de la información y los materiales encontrados u ofrecidos en este sitio para cualquier propósito en particular. Eres consciente de que dicha información y materiales pueden contener inexactitudes o errores, y excluimos expresamente la responsabilidad por tales inexactitudes o errores en la máxima medida permitida por la ley.</p>

  <h2>Propiedad Intelectual</h2>

  <p>Este sitio web contiene material que es propiedad de o está licenciado para nosotros. Esto incluye, pero no se limita a, el diseño, el diseño, la apariencia y los gráficos. Queda prohibida la reproducción no autorizada de los materiales de este sitio web.</p>

  <h2>Enlaces a Otros Sitios Web</h2>

  <p>Nuestro sitio puede contener enlaces a otros sitios web de interés. Estos enlaces son proporcionados para tu conveniencia para proporcionar información adicional. No tenemos responsabilidad por el contenido de los sitios web enlazados.</p>

  <h2>Modificaciones</h2>

  <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios serán efectivos inmediatamente después de la publicación en el sitio. Te recomendamos que revises periódicamente estos términos y condiciones para asegurarte de estar informado sobre las actualizaciones.</p>

  <h2>Contacto</h2>

  <p>Si tienes alguna pregunta sobre estos términos y condiciones, no dudes en <a href="contacto">contactarnos</a>.</p>
</section>

</body>
</html>

