

<div class="box">
  <h2><u>Haz una valoración de este evento:</u></h2>
  <br>

  <form (submit)="enviarResenya()">

    <div class="field">
      <label class="calificacion">Calificación:</label>
      <div class="control">
        <!-- Utiliza elementos de entrada de tipo radio para las estrellas -->
        <input type="radio" id="estrella1" name="calificacion" [(ngModel)]="resenya.estrella" value="1">
        <label for="estrella1">★</label>

        <input type="radio" id="estrella2" name="calificacion" [(ngModel)]="resenya.estrella" value="2">
        <label for="estrella2">★</label>

        <input type="radio" id="estrella3" name="calificacion" [(ngModel)]="resenya.estrella" value="3">
        <label for="estrella3">★</label>

        <input type="radio" id="estrella4" name="calificacion" [(ngModel)]="resenya.estrella" value="4">
        <label for="estrella4">★</label>

        <input type="radio" id="estrella5" name="calificacion" [(ngModel)]="resenya.estrella" value="5">
        <label for="estrella5">★</label>
      </div>
    </div>
<br>

    <div>
      <label class="texto" for="miTextarea">Comentario:</label>
      <br>
      <div class="cajatexto">
        <textarea id="miTextarea" name="texto" [(ngModel)]="resenya.texto" (input)="contarCaracteres()" required></textarea>
        <br>
      </div>
      <div class="contador">
        <p id="contadorCaracteres">{{ resenya.texto?.length }}/{{ caracteresMaximos }} caracteres</p>
      </div>
    </div>

      <!--     <script>
             document.addEventListener('DOMContentLoaded', function() {
               var textarea = document.getElementById('miTextarea');
               var contador = document.getElementById('contadorCaracteres');

               textarea.addEventListener('input', function() {
                 var texto = textarea.value;
                 var longitud = texto.length;
                 var maximo = parseInt(textarea.getAttribute('maxlength'));

                 if (longitud > maximo) {
                   textarea.value = texto.slice(0, maximo);
                   longitud = maximo;
                 }

                 contador.textContent = longitud + ' / ' + maximo + ' caracteres';
               });
             });
           </script>-->

<!--    <div>-->
<!--      <label for="estrella">Calificación:</label>-->
<!--      <select id="estrella" name="estrella" [(ngModel)]="resenya.estrella" required>-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->

<!--      </select>-->
<!--    </div>-->


    <div class="botoncin">
      <button class="boton" type="submit">Enviar Reseña</button>
    </div>
  </form>
</div>



