<header>

  <div class="header">

    <div class="logo">

      <a href="app/app.component.html">

        <img src="./assets/img/logoSafarity2.png">

      </a>

    </div>

    <div class="barrabuscadora">

      <input type="search" class="barra" placeholder="Buscar">

    </div>

    <div class="barradirecciones">

      <div class="icon">
        <a href="#">Explorar</a>
      </div>
      <div class="icon">
        <a href="#">Acceder</a>
      </div>
      <div class="icon">
        <a href="app/login/login.component.html">Registro</a>
      </div>

    </div>

  </div>

</header>
