<header>

  <div class="header">

    <div class="logo">

      <a routerLink="/inicio">

        <img src="./assets/img/logoSafarity2.png"alt="" >

      </a>

    </div>

    <form class="barrabuscadora" (ngSubmit)="mandarBusqueda()">

      <input type="text" class="barra" placeholder="Buscar" id="barra" name="barra" [(ngModel)]="barra" required>

    </form>


    <div class="barradirecciones">
      <div class="icon">

        <div class="dropdown">
          <p routerLink="/buscador">Buscador</p>

          <div class="dropdown-content">
            <a routerLink="/eventos">Eventos</a>
            <a routerLink="/organizaciones">Organizaciones</a>
          </div>

        </div>

      </div>

      <!-- Mostrar Registro solo si no está autenticado -->
      <div class="icon" *ngIf="!usuarioAutenticado">
        <div class="dropdown">
          <p>Registro</p>
          <div class="dropdown-content">
            <a routerLink="/registro">Participante</a>
            <a routerLink="/organizacion-reg1">Organización</a>
          </div>
        </div>
      </div>

      <!-- Mostrar Acceder solo si no está autenticado -->
      <div class="icon" *ngIf="!usuarioAutenticado">
        <p routerLink="/login">Acceder</p>
      </div>

      <!-- Mostrar Bienvenido y Logout solo si está autenticado -->
      <div *ngIf="usuarioAutenticado">

        <div class="boton">

          <p>Bienvenido {{ usuarioAlias }}</p>

          <button (click)="logout()">Logout</button>

        </div>


      </div>
    </div>

  </div>

</header>
