header{
  padding: 40px 30px 40px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo{
  width: 30%;

}
.barradirecciones {
  width: 40%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
  background-color: rgba(127, 255, 212, 0.72);
  align-items: center;
  border-radius: 10px;
}
.icon{
  height: 30px;
  width: 82px;
  display: flex;
  text-align: center;
  background-color: white;
  padding-top: 20px;
  padding-left: 18px;
  font-size: large;
  font-weight: bold;
  color: rgb(127, 191, 255);
  border-radius: 20px;
}
