<header>

  <div class="header">

    <div class="logo">

      <a routerLink="/inicio">

        <img src="./assets/img/logoSafarity2.png" >

      </a>

    </div>

    <div class="barrabuscadora">

      <input type="search" class="barra" placeholder="Buscar">

    </div>



    <div class="barradirecciones">

      <div class="icon">

        <div class="dropdown">

          <p routerLink="/explorar">Explorar</p>

          <div class="dropdown-content">
            <a href="#">Eventos</a>
            <a href="#">Organizaciones</a>
          </div>

        </div>

      </div>
      <div class="icon">
        <a routerLink="/login">Acceder</a>
      </div>
      <div class="icon">
        <a routerLink="/registro">Registro</a>
      </div>

    </div>

  </div>

</header>
