<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política de Privacidad</title>

</head>
<body>

<section id="privacy-policy">
  <h1>Política de Privacidad</h1>

  <p>En Safarity, nos comprometemos a proteger la privacidad de nuestros usuarios y clientes. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas.</p>

  <h2>Información que Recopilamos</h2>

  <p>Podemos recopilar la siguiente información personal cuando interactúas con nuestro sitio web:</p>

  <ul>
    <li>Información de contacto, como nombre, dirección de correo electrónico y número de teléfono.</li>
    <li>Información demográfica, como código postal, preferencias e intereses.</li>
    <li>Información de inicio de sesión, como nombres de usuario y contraseñas.</li>
    <li>Otra información relevante para encuestas y ofertas especiales.</li>
  </ul>

  <h2>Cómo Utilizamos la Información</h2>

  <p>Utilizamos la información recopilada para entender tus necesidades y proporcionarte un mejor servicio, y en particular, por las siguientes razones:</p>

  <ul>
    <li>Personalizar tu experiencia en nuestro sitio web.</li>
    <li>Mejorar nuestros productos y servicios.</li>
    <li>Enviar periódicamente correos electrónicos promocionales sobre nuevos productos, ofertas especiales u otra información que creemos que puede resultar interesante para ti.</li>
    <li>Utilizar la información para personalizar el sitio según tus intereses.</li>
  </ul>

  <h2>Seguridad</h2>

  <p>Estamos comprometidos a garantizar que tu información esté segura. Con el fin de evitar el acceso no autorizado o divulgación, hemos implementado medidas físicas, electrónicas y administrativas adecuadas para resguardar y asegurar la información que recopilamos en línea.</p>

  <h2>Enlaces a Otros Sitios Web</h2>

  <p>Nuestro sitio web puede contener enlaces a otros sitios de interés. Sin embargo, una vez que hayas utilizado estos enlaces para abandonar nuestro sitio, debes tener en cuenta que no tenemos control sobre ese otro sitio web. Por lo tanto, no podemos ser responsables de la protección y privacidad de cualquier información que proporciones al visitar dichos sitios, y estos no se rigen por esta declaración de privacidad. Debes tener precaución y revisar la declaración de privacidad aplicable al sitio web en cuestión.</p>

  <h2>Cambios en esta Política de Privacidad</h2>

  <p>Esta política de privacidad está sujeta a cambios y actualizaciones. Te recomendamos que revises periódicamente esta página para estar informado sobre cómo estamos protegiendo tu información.</p>

  <p>Si tienes preguntas o inquietudes sobre nuestra política de privacidad, no dudes en <a href="contacto.html">contactarnos</a>.</p>
</section>

</body>
</html>

