<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career</title>

</head>
<body>

<section id="career">
  <h1>Oportunidades de Carrera</h1>

  <p>En Safarity, creemos en construir un equipo apasionado y talentoso. Si compartes nuestra visión y estás buscando un entorno estimulante para crecer profesionalmente, ¡queremos conocerte!</p>

  <h2>¿Por qué unirte a nuestro equipo?</h2>

  <ul>
    <li><strong>Cultura de Colaboración:</strong> Fomentamos un ambiente donde la colaboración y el intercambio de ideas son fundamentales para nuestro éxito.</li>
    <li><strong>Oportunidades de Desarrollo:</strong> Ofrecemos programas de desarrollo profesional y oportunidades para el crecimiento a medida que avanzas en tu carrera.</li>
    <li><strong>Innovación Constante:</strong> Trabajamos en proyectos emocionantes y desafiantes que te permitirán expandir tus habilidades y conocimientos.</li>
    <li><strong>Compromiso Social:</strong> Contribuimos al bienestar de la comunidad a través de iniciativas sociales y de responsabilidad corporativa.</li>
  </ul>

  <h2>Oportunidades Actuales</h2>

  <p>Actualmente, estamos buscando personas talentosas para unirse a nuestro equipo en las siguientes áreas:</p>

  <ul>
    <li><strong>Desarrollador/a Frontend:</strong> Únete a nuestro equipo de desarrollo para crear experiencias de usuario impactantes.</li>
    <li><strong>Analista de Marketing Digital:</strong> Colabora en estrategias innovadoras para llegar a nuestra audiencia de manera efectiva.</li>
    <!-- Agrega más oportunidades según sea necesario -->
  </ul>

  <p>Si estás interesado/a en alguna de estas oportunidades, por favor envía tu currículum y carta de presentación a SafarityTeam@gmail.com</p>

  <p>¡Esperamos tener noticias tuyas pronto y explorar juntos las posibilidades!</p>
</section>

</body>
</html>

