.body {
  margin: 0;
  padding: 0;
  background-color: #d0c4d5;
  width: 100%;
  height: 100vh; /* 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 30px;
  overflow: auto;
}

h3{

  color: black;
  transition: .2s ease;
  cursor: pointer;

}

h3:hover{

  color: #7d2ae8;
  font-weight: bold;

}

.contenedor{

  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding-bottom: 200px;
  min-height: 800px;

}

.con-titulo{

  justify-content: center;
  display: flex;
  margin-top: 3%;

}

.con-boton{

  display: flex;
  gap: 13%;
  justify-content: center;

}

.boton{
  color: #fff;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;

}
.boton button{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.boton button:hover{
  background: #5b13b9;
}
