<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Eventos</title>
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" class="favicon">

</head>
<body>

<div class="body">
  <div class="conten">
    <div class="ctexto">
      <p>
        Hola, Bienvenido/a a nuestro portal solidario.
        ¡Esperamos que puedas tener una magnífica experiencia en nuestro sitio web!
        Un saludo de todo el equipo.
      </p>

      <br>


    </div>

    <div class="imagen">
      <img src="assets/img/cuore.jpg">
    </div>
  </div>

  <br>
  <div class="listeventos">
    <img src="assets/img/caridad.png">

    <br>

    <h1 class="levento">NUESTROS EVENTOS</h1>

    <br>
  </div>
  <div class="iconos">


    <div class="icono" >


      <!--    Mostrar Eventos-->
      <!--    <div *ngFor="let evento of eventos">-->
      <!--      <span>{{evento.nombre}}</span>-->
      <!--      <span>{{evento.imagen}}</span>-->
      <!--      <span>{{evento.descripcion}}</span>-->
      <!--    </div>-->

      <!--    <div *ngFor="let evento of eventos" class="miniatura">-->
      <!--      <span>{{evento.nombre}}</span>-->
      <!--      <br>-->
      <!--      <img [src]="evento.imagen" alt="{{evento.nombre}}">-->
      <!--      <br>-->
      <!--    </div>-->

      <div *ngFor="let evento of eventos" (mouseover)="pausarActualizacion()" (mouseout)="reanudarActualizacion()" class="miniatura">

        <span>{{evento.nombre}}</span>
        <br>
        <a [routerLink]="['/detallesEvento', evento.id]">
          <img [src]="evento.imagen" alt="{{evento.nombre}}">
        </a>
        <br>
      </div>

    </div>
  </div>
</div>

</body>
</html>
