<!DOCTYPE html>
<html>
<head>
  <title>Lista de Eventos</title>
</head>
<body>

<div class="body">
  <div class="conten">
    <div class="ctexto">
      <p>
        Hola, Bienvenido/a a nuestro portal solidario.
        ¡Esperamos que puedas tener una magnífica experiencia en nuestro sitio web!
        Un saludo de todo el equipo.
      </p>

      <br>

      <div class="icono">
        <img src="assets/img/caridad.png">

        <h1 class="levento">Lista de Eventos</h1>

        <br>
      </div>


    </div>

    <div class="imagen">
      <img src="assets/img/safacrowd2.png">
    </div>
  </div>

  <div class="iconos">



<!--    Mostrar Eventos-->
<!--    <div *ngFor="let evento of eventos">-->
<!--      <span>{{evento.nombre}}</span>-->
<!--      <span>{{evento.imagen}}</span>-->
<!--      <span>{{evento.descripcion}}</span>-->
<!--    </div>-->

<!--    <div *ngFor="let evento of eventos" class="miniatura">-->
<!--      <span>{{evento.nombre}}</span>-->
<!--      <br>-->
<!--      <img [src]="evento.imagen" alt="{{evento.nombre}}">-->
<!--      <br>-->
<!--    </div>-->

    <div *ngFor="let evento of eventos" class="miniatura">



      <span>{{evento.nombre}}</span>
      <br>
      <a [routerLink]="['/eventos', evento.id]"> <!-- Añadido para redireccionar -->
        <img [src]="evento.imagen" alt="{{evento.nombre}}">
      </a>
      <br>
    </div>


  </div>
</div>

</body>
</html>
