<div class="body">

  <div class="conten">

    <div class="ctexto">
      <p>
        Hola, Bienvenido/a a nuestro portal solidario.
        ¡Esperamos que puedas tener una magnífica experiencia en nuestro sitio web!
        Un saludo de todo el equipo.
      </p>

    </div>

    <div class="imagen">
      <img src="./assets/img/unicef-educa-blog-gotas-carrera-escolar-solidaria-agua-ods.png">
    </div>

  </div>

  <div class="iconos">

    <div class="icono">
      <img src="favicon.ico">
    </div>

  </div>

</div>
