.body {
  min-height:800px;
}

.body .img {
  filter: grayscale(100%);
}

.perfil {
  font-size: 35px;
  font-weight: bold;
  color: #7d2ae8;
  margin-top: 3%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  min-height: 800px;
}

.ficha {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

.dato {
  margin-bottom: 10px;
}


h1 {
  color: #b000ff; /* Título morado */

}

h3 {
  font-size: 2.3em;
  font-weight: lighter;
  color: #7d2ae8;
  margin-top: 0%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 25%;
}

.ficha {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #b000ff;
  border-radius: 8px;
  padding: 20px;
  background-color: #ECF0F1;
}

.titulo {
  color: #b000ff; /* Título morado */
  font-weight: bold;
  margin-top: 50px;
}
.botona{
  color: #fff;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.botona button{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.botona button:hover{
  background: #5b13b9;
}

.botona button{
  height: 100%;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.botona button:focus,
.botona button:valid{
  border-color: #7d2ae8;
}
