<!-- miperfil.component.html ORGANIZACIÓN-->
<div class="titulo">
  <h1 class="perfil">MI PERFIL</h1>
</div>

<body>
<h3>DATOS:</h3>
<div class="ficha">
  <div class="dato"><strong>Nombre:</strong> {{organizacion.nombre}}</div>
  <div class="dato"><strong>Email:</strong> {{organizacion.email}}</div>
  <div class="dato"><strong>CIF:</strong> {{organizacion.cif}}</div>
  <div class="dato"><strong>Teléfono:</strong> {{organizacion.telefono}}</div>
  <div class="dato"><strong>Fecha de Fundación:</strong> {{organizacion.fechaFundacion}}</div>
  <div class="dato"><strong>Dirección:</strong> {{organizacion.direccion}}</div>
  <div class="dato"><strong>Información:</strong> {{organizacion.info}}</div>
  <div class="dato"><strong>Sitio Web:</strong> {{organizacion.sitioWeb}}</div>
  <div class="dato"><strong>Logo:</strong> {{organizacion.logo}}</div>
  <div class="dato"><strong>Alias:</strong> {{organizacion.usuarioDTO.alias}}</div>

  <div class="dato"><strong>Monedero:</strong> {{organizacion.monedero}} €</div>

</div>

</body>
