.body {
  min-height:800px;
}

.perfil {
  display: flex;

  margin-left: 25%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  min-height: 800px;
}

.ficha {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

.dato {
  margin-bottom: 10px;
}


h1 {
  color: #b000ff; /* Título morado */

}


.ficha {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #b000ff;
  border-radius: 8px;
  padding: 20px;
  background-color: #ECF0F1;
}

.titulo {
  color: #b000ff; /* Título morado */
  font-weight: bold;
  margin-top: 50px;
}
