/* explorar.component.css */

.columna {
  display: flex;
  flex-direction: column; /* Cambiado a dirección de columna */
}

.seccion {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.tarjeta {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 0px 20px 20px rgb(232, 228, 232);
  text-align: center;
  margin: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #f5cef5;
}

.tarjeta h3 {
  font-size: 18px;
  margin-top: 10px;
}

.tarjeta p {
  font-size: 14px;
  margin-top: 5px;
}
