<link rel="stylesheet" href="explorar.component.css">

<body>

  <div class="columna">

    <div *ngFor="let organizacion of organizaciones" class="linea1" >

      <div  class="tarjeta">
        <img src="{{organizacion.logo}}">
        <h3>{{organizacion.nombre}}</h3>
        <p>{{organizacion.cif}}</p>
      </div>


    </div>

    <div *ngFor="let e of eventos" class="linea2" >

      <div class="tarjeta">
        <img src="{{e.imagen}}">
        <h3>{{e.nombre}}</h3>
        <p>{{e.aforo}}</p>
      </div>

    </div>

  </div>

</body>




