.body{
  min-height: 1600px;
}



.body .img {
  filter: grayscale(100%);
}


.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  min-height: 800px;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top:35px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 200px;
  box-sizing: border-box;
  border-radius:15px;
  margin-bottom: 35px;
}

button {
  padding:10px 15px 10px 15px;
  transition: all 0.4s ease;
  background-color: #7d2ae8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius:5px;
  height:100%;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  background-color: #a100ff;
}

.seccion {

  display: flex;

}

.seccion {
  display: flex;
  flex-direction: row;



  text-align: center;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

}

.tarjeta {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 0px 10px 3px rgb(66, 25, 66);
  text-align: center;
  margin: 10px;
  margin-left: 40px;
  transition: .3s ease;
  background: #C5B2CC;
}

.tarjeta:hover{

  transform: scale(1.1);

}



.tarjeta img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  filter: grayscale(100%);
}



.body {
  min-height: 800px;
}

.miniatura {
  display: flex;
  flex-direction: row;
  width: 300px;
  /*height: 380px;*/
  background-color: #c5b2cc;
  padding: 20px 20px 20px 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.miniatura:hover {
  border: 3px solid #b906f1;
  transform: scale(1.2);

}

.miniatura img {
  max-width: 85%;
  max-height: 80%;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius:25px;
  display:flex;
}



.miniatura > a > img{
  /*border: 1px solid #ccc;*/
  /*padding: 10px;*/
  /*margin-bottom: 10px;*/
  /*width: 300px;*/
  /*max-width: 88%;*/
  /*max-height: 80%;*/
  /*min-height: 50%;*/
  width: auto;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.miniatura > a {
  width:100% !important;
}


.miniatura > span {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-weight: lighter;
  font-size: 1.4em;
  text-align: center;
  color: black;
  text-decoration: none;
  font-style: italic;

}


.miniatura > a > img:hover{
  border: 1px solid #b906f1;

}

.miniatura > a > img:active{
  background-color: #dca6ed;
}

.miniatura > a > img:focus{
  background-color: #ca55ef;
}

.miniatura > a > img:visited{
  background-color: #4845f3;
}



.iconos {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 20px 20px 20px;
  align-items: center;
}


.icono {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;

}


h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a100ff;
  font-weight: bold;
  font-size: 1.5em;
}



