<!-- miperfil.component.html PARTICIPANTE-->
<h1 class="perfil">MI PERFIL</h1>


<body>

<div class="ficha">
  <div class="dato"><strong>Nombre:</strong> {{participante.nombre}}</div>
  <div class="dato"><strong>Apellidos:</strong> {{participante.apellidos}}</div>
  <div class="dato"><strong>Email:</strong> {{participante.email}}</div>
  <div class="dato"><strong>Teléfono:</strong> {{participante.telefono}}</div>
  <div class="dato"><strong>DNI:</strong> {{participante.dni}}</div>
  <div class="dato"><strong>Fecha de Nacimiento:</strong> {{participante.fecha_nacimiento}}</div>
  <div class="dato"><strong>Dirección:</strong> {{participante.direccion}}</div>
  <div class="dato"><strong>Saldo:</strong> {{participante.saldo}} €</div>

</div>

</body>
