<link rel="stylesheet" href="registro.component.css">

<div class="body">

  <div class="container">

    <h2>Registrate</h2>

    <form action="registro.php" method="post">

      <div class="form-group">
        <label for="alias">Usuario:</label>
        <input type="text" id="alias" name="alias" required>
      </div>

      <div class="form-group">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required>
      </div>

      <a routerLink="/registro2"><input type="submit" value="Continuar"></a>

    </form>

  </div>

  <div class="img"></div>

</div>
