<link rel="stylesheet" href="registro.component.css">
<div class="body">

    <div class="registerbox">
      <h1>Registra tus datos</h1>
      <div><input placeholder="Alias" type="text"></div>
      <div><input placeholder="Contraseña" type="text"></div>
      <div><input placeholder="Nombre" type="text"></div>
      <div><input placeholder="Apellidos" type="text"></div>
      <div><input placeholder="Correo Electrónico" type="email"></div>
      <div><input placeholder="Teléfono" type="text"></div>
      <div><input placeholder="DNI" type="text"></div>
      <div><input placeholder="Dirección" type="text"></div>
      <div><input type="date"></div>
    </div>
  <div class="img"></div>

</div>
