<link rel="stylesheet" href="registro2.component.css">

<div class="body">

  <div class="container">

    <h2>Registrate</h2>

    <form action="registro2.php" method="post">

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required>
      </div>

      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" required>
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
      </div>

      <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" required>
      </div>

      <div class="form-group">
        <label for="dirección">Dirección:</label>
        <input type="text" id="dirección" name="dirección" required>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
      </div>

      <input type="submit" value="Registrar">

    </form>

  </div>

  <div class="img"></div>

</div>
